@import "normalizes.scss"
@import "resets.scss"

*
    box-sizing: border-box


@font-face 
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-Regular.ttf')
    font-weight: regular
    font-style: normal

@font-face 
    font-family: "MontserratT"
    src: url('../fonts/Montserrat-SemiBold.ttf')
    font-weight: bold
    font-style: normal


/* main styles */

html
    font-family: "MontserratT"
    font-weight: regular
    color: #fff

.container
    max-width: 1140px 
    margin: 0 auto
    position: relative

.section
    position: relative
    background-color: black
    overflow: hidden

.hamburger
    width: 50px
    height: 50px
    margin-right: 10px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    &__line
        width: 50px
        height: 5px
        background-color: white

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 20px
        &:last-child
            margin-right: 0px
        a
            text-decoration: none
            color: white
            font-size: 18px
    
.contact
    &__vertical-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-right: 20px
    &__horizontal-wrapper
        display: flex
        flex-direction: row
    &__text
        color: white
        font-size: 20px
    &__icon
        img
            width: 40px
            margin-right: 5px
        &:last-child
            margin-right: 0px
            
.slider
    width: 921px
    height: 411px 
    overflow: hidden
    border: 3px solid #fff
    position: relative
    margin-bottom: 15px
    &__navigation
        position: absolute
        bottom: 16px
        left: 50%
        transform: translateX(-50%)
        display: flex
        &_outer
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 15px
    &__item
        width: 33.33%
        transition: all .6s ease
        position: relative
        img
            width: 100%
            height: 100%
        iframe
            width: 100%
            height: 100%
        &_big
            width: 50%
    &__addition-img-wrapper
        position: absolute
        z-index: 1
        bottom: 5%
        left: 5%
        width: 165px
        height: 165px
    &__img-description
        position: absolute
        z-index: 1
        color: #111
        top: 56%
        left: 46%
        font-size: 32px
        text-shadow: 1px 1px 2px #3a3838
        background-color: #d4d1d167
        &_top-right
            top: 5%
            left: 80%

    &_switch
        width: 1000px
        height: 240px
        border: none   
        margin-bottom: 0px
    &__btn
        color: #fff
        font-size: 24px
        margin-right: 80px
        transition: all .4s ease
        &:last-child
            margin-right: 0px
        &:hover
            color: #F2A348
    &__blocks-wrapper
        height: 170px
        width: 1000px
        display: flex
        flex-direction: row
        justify-content: space-evenly
    &__block-item
        width: 170px
        height: 170px
        background-color: #74797c
        display: flex
        flex-direction: column
        align-items: center 
        position: relative
        &:hover
            opacity: 0.8
            transform: scale(1.02)
        img
            width: 130px
            height: 130px
    &__block-text
        position: absolute
        bottom: 5%
        font-size: 18px
        text-align: center
    &__title
        font-size: 28px
        color: #fff
        margin-bottom: 8px
        

.bar
    height: 8px
    width: 30px
    margin: 6px
    cursor: pointer
    background-color: #000
    opacity: .5
    border-radius: 10px
    transition: all .4s ease
    &:hover
        opacity: 0.8
        transform: scale(1.1)
   
input[name="r"]
    position: absolute
    visibility: hidden

input[name="b"]
    position: absolute
    visibility: hidden

input[name="v"]
    position: absolute
    visibility: hidden

.slides-container
    width: 300%
    height: 100%
    display: flex
    &_horizontal
        width: 200%

#r1:checked ~ .s1
    margin-left: 0

#r2:checked ~ .s1
    margin-left: -33.33%

#r3:checked ~ .s1
    margin-left: -66.66%

#b1:checked ~ .ss1
    margin-left: 0

#b2:checked ~ .ss1
    margin-left: -50%

#rr1:checked ~ .sss1
    margin-left: 0

#rr2:checked ~ .sss1
    margin-left: -33.33%

#rr3:checked ~ .sss1
    margin-left: -66.66%

.dedicated-block
    border: solid #fff 2px
    border-radius: 15px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    &__text
        text-align: center

    /* pages */

    /* main page */
.first-section
    min-height: 775px
    padding-top: 10px
    &__header
        display: flex
        flex-direction: row
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 50px
        align-items: center
        margin-bottom: 20px
    &__contacts
        display: flex
        flex-direction: row
        justify-content: space-between
    &__content-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        
.second-section
    min-height: 775px
    &__about-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height: 365px
        min-width: 1040px
    &__horizontal-wrapper
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        min-height: 325px
    &__mission-wrapper
        min-height: 165px
        min-width: 1040px
        margin-bottom: 30px
    &__logo
        height: 255px
        margin-right: 50px
    &__text
        font-size: 22px
        max-width: 627px
    &__title
        font-size: 30px
        font-weight: bold
        margin-bottom: 10px
        &_small
            margin-bottom: 0px
            font-size: 26px
    &__mission-list
        min-height: 90px
        display: flex
        flex-direction: column
        justify-content: space-between
    &__mission-list-item  
        font-size: 26px  
    &__advantages-wrapper
        height: 100%
        max-width: 983px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
    &__advantages-item
        min-height: 175px
        min-width: 157px
        img
            max-height: 80px                     
    &__advantages-description
        font-size: 20px
        text-align: center
        
.third-section
    min-height: 550px
    &__content-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__title
        font-size: 30px
        font-weight: bold
        margin-bottom: 20px
        display: flex
        align-self: flex-start
    &__slide-description
        top: 5%
        left: 2%
        display: flex
        flex-direction: row
        text-shadow: none
        h3
            font-size: 30px
            font-weight: bold
            margin-right: 20px
        p
            font-size: 20px 
    &__contacts
        width: 921px
        display: flex
        flex-direction: row
        justify-content: space-between 
    &__contacts-description
        margin-right: 20px 
            
    &__slider
        


